.ticket-list-content {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 40%;
  margin: 0 auto;
  padding-top: 10em;
}

.ticket-title-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.ticket-list-search-content {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  width: 100%;
  gap: 10px;
  margin-top: 10px;
}

.ticket-title {
  font-size: 32px;
}

.input-search {
  display: flex;
  padding-left: 10px;
  width: 600px;
  height: 34px;
  border: 2px solid rgba(196, 200, 207, 0.5);
  border-radius: 4px;
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 61px;
  height: 34px;
  border: 2px solid rgba(196, 200, 207, 0.5);
  border-radius: 4px;
  cursor: pointer;
}

.filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(196, 200, 207, 0.5);
  border-radius: 2px;
  padding: 0 10px;
  gap: 10px;
  cursor: pointer;
}

.list-card {
  margin-top: 25px;
}

@media(max-width: 900px) {
  .ticket-list-content {
    /* flex-direction: column; */
  }

  .ticket-title {
    margin: 0 auto;
  }

  .button-login.ticket {
    width: 100%;
  }

  .input-search {
    width: 100%;
  }

  .ticket-list-search-content {
    flex-direction: column;
  }

  .buttons-container {
    justify-content: space-around;
  }
}
