.button-style {
  padding: 20px 40px;
  border: 0;
  background-color: transparent;
  color: #fff;
  border-radius: 100px;
  border: 4px solid #fff;
  cursor: pointer;
}

.button-style:hover {
  border-color: #a39f9f;
  color: #a39f9f;
}

.button-style:active {
  background-color: rgba(0, 0, 0, 0.15);
}
