/* Button Login specs */
.button-login-home {
  padding: 20px 40px;
  border: 0;
  background-color: transparent;
  color: #fff;
  border-radius: 100px;
  border: 4px solid #fff;
  cursor: pointer;
}

.button-login-home:hover {
  border-color: #a39f9f;
  color: #a39f9f;
}

.button-login-home:active {
  background-color: rgba(0, 0, 0, 0.15);
}

/* Card redirect ifms site specs */

.card-redirect-ifms-site {
  display: flex;
  background-color: #0f0f0f;
  color: #fff;
  padding: 25px 40px;
  border: 0;
  cursor: pointer;
}

/* Button login specs */
.button-login {
  background-color: #3B7DED;
  border-radius: 4px;
  width: 45%;
  color: white;
  padding: 20px 40px;
  margin-top: 20px;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  outline: none;
}


.button-login:hover {
  transition: 0.1s ease-in;
  background-color: #2f67c9;
}

.button-login:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-color: transparent;
}

.button-back-home {
  background-color: #C82733;
}

.width-100 {
  width: 100%;
}

.button-back-home:hover {
  background-color: #a72b33;
}


/* Button logout specs */

.button-logout {
  padding: 20px 40px;
  border: 0;
  background-color: transparent;
  color: #932630;
  border-radius: 4px;
  border: 2px solid #932630;
  cursor: pointer;
  margin-left: 20px;
  font-weight: bold;
}

.button-logout:hover {
  background-color: rgba(147, 38, 48, 0.1);
  transition: 0.15s ease-in;
}

/* Button Add Ticket specs */

.button-login.ticket:before {
  /* content: "Nova Reclamação"; */
}

.button-login.ticket {
  /* max-width: fit-content; */
  margin: 0;
}
