.header-content {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5em 1em;
  width: 100%;
  background-color: #255E46;
}

.header-logo-description {
  align-self: center;
  color: #fff;
  padding-left: 20px;
}

Row p {
  margin-left: 20px;
}

.vertical-line {
  border-left: 2px solid black;
  height: 50px;
}

.logged {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content.logged {
  background-color: transparent;
  border-bottom: 2px solid black;
}

.list-items {
  display: flex;
  align-items: center;
  gap: 20px;
}

.list-item {
  text-decoration: none;
  color: #0f0f0f;
}
