.header-content {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5em 1em;
  width: 100%;
  background-color: #255E46;
}

.header-logo-description {
  align-self: center;
  color: #fff;
  padding-left: 20px;
}

Row p {
  margin-left: 20px;
}
