.dashboard-main-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-top: 10em;
  padding-right: 20px;
  padding-left: 20px;
}

.current-data {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.tickets-opened-card,
.tickets-resolved-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 30px 10px;
}

.text-card {
  margin-top: 20px;
  font-size: 18px
}

.counting-card {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
}

.user-name {
  margin-top: 20px;
}

.charts-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.column-top-data {
  display: flex;
  gap: 40px;
}


@media (max-width: 900px) {
  .column-top-data {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
