.dashboard-main-content {
  display: flex;
  width: 85%;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 10em;
  padding-right: 20px;
  padding-left: 20px;
}

.column-top-data {
  display: flex;
  gap: 40px;
}

@media (max-width: 900px) {
  .column-top-data {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
