.message {
  padding-top: 30px;
  padding: 10px;
  width: 80%;
  border: 1px solid rgba(196, 196, 196, 0.5);
}

.top-content {
  display: flex;
  justify-content: space-between;
}

.body-content {
  margin-top: 25px;
}
