.conteudo-informativo {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 40px;
  width: 60%;
}

.conteudo-informativo h1,
.conteudo-informativo h3,
.conteudo-informativo h5 {
  width: fit-content;
  text-align: end;
}

@media (max-width: 768px) {

  .conteudo-informativo {
    align-items: center;
    width: 100%;
  }

  .conteudo-informativo h1,
  .conteudo-informativo h3,
  .conteudo-informativo h5 {
    width: fit-content;
    text-align: center;
  }
}
