.funcione {
  padding-top: 10em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.background-home {
  /* background-image: url('../../../assets/ifms.png'); */
}
